doctype html
html
  head
    title Editor de texto
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/text-editor.js')
    script(src='/javascripts/main.js')
